.u-block-3df6-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-3df6-3 {
  position: absolute;
  left: 0;
}

.u-block-3df6-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/pexels-helena-lopes-697244.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 965px;
}

.u-section-1-1 .u-group-1 {
  min-height: 596px;
  width: 423px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
  margin: 328px auto 41px 0;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 40px 60px;
}

.u-section-1-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1-1 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-1-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-1-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-1-1 .u-group-1 {
    width: 340px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/pexels-buro-millennial-1438081.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 965px;
}

.u-section-1-2 .u-group-1 {
  min-height: 596px;
  width: 423px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
  margin: 328px auto 41px 0;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 40px 60px;
}

.u-section-1-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1-2 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-1-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-1-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-1-2 .u-group-1 {
    width: 340px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/pexels-emily-ranquist-1205651.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 965px;
}

.u-section-1-3 .u-group-1 {
  min-height: 596px;
  width: 423px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
  margin: 328px auto 41px 0;
}

.u-section-1-3 .u-container-layout-1 {
  padding: 40px 60px;
}

.u-section-1-3 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1-3 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-1-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-1-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1-3 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-1-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-1-3 .u-group-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 869px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 699px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 769px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 50px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 40px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 794px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 50px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 76px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 634px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 655px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 424px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 564px;
}

.u-section-3 .u-group-1 {
  min-height: 572px;
  margin-top: 40px;
  margin-bottom: 40px;
  height: auto;
  --radius: 25px;
  width: 100%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-gallery-1 {
  height: 446px;
  width: 380px;
  margin: 33px auto 0 40px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-back-image-1 {
  object-position: 100% 50%;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: -446px 185px 0 460px;
}

.u-section-3 .u-text-2 {
  margin: 72px auto 0 460px;
}

.u-section-3 .u-text-3 {
  margin: 15px 577px 0 460px;
}

.u-section-3 .u-text-4 {
  background-image: none;
  margin: 40px 15px 0 460px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  --radius: 5px;
  margin: 23px 40px 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-3 .u-icon-1 {
  margin-left: 2px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-gallery-1 {
    width: 100px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 328px;
  }

  .u-section-3 .u-btn-1 {
    --radius: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 268px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 201px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    height: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -340px;
    margin-right: 127px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    margin-right: 119px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 586px;
}

.u-section-4 .u-group-1 {
  min-height: 572px;
  margin-top: 40px;
  margin-bottom: -26px;
  height: auto;
  --radius: 25px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-gallery-1 {
  height: 446px;
  width: 380px;
  margin: 33px auto 0 40px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-back-image-1 {
  object-position: 100% 50%;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: -446px 185px 0 460px;
}

.u-section-4 .u-text-2 {
  margin: 60px auto 0 460px;
}

.u-section-4 .u-text-3 {
  margin: 15px 577px 0 460px;
}

.u-section-4 .u-text-4 {
  background-image: none;
  margin: 23px 15px 0 460px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  --radius: 5px;
  margin: 24px 40px 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-4 .u-icon-1 {
  margin-left: 2px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 85px;
    margin-left: 360px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 360px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 477px;
    margin-left: 360px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 360px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 225px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 392px;
    margin-left: 225px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 45px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 45px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 45px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-gallery-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 237px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 652px;
}

.u-section-5 .u-group-1 {
  min-height: 572px;
  margin-top: 40px;
  margin-bottom: 40px;
  height: auto;
  --radius: 25px;
  width: 100%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-gallery-1 {
  height: 446px;
  width: 380px;
  margin: 33px auto 0 40px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-back-image-1 {
  object-position: 100% 50%;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 31px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 31px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: -446px 185px 0 460px;
}

.u-section-5 .u-text-2 {
  margin: 54px auto 0 460px;
}

.u-section-5 .u-text-3 {
  margin: 11px 577px 0 460px;
}

.u-section-5 .u-text-4 {
  background-image: none;
  margin: 33px 0 0 460px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  --radius: 5px;
  margin: 24px 40px 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-5 .u-icon-1 {
  margin-left: 2px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-gallery-1 {
    width: 100px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}